/* .container {
    background-image: url(https://bit.ly/2PtXrb3);
    background-repeat: no-repeat; 
} */
.jumbotron {
    width: 900px;
    text-align: center;
    border-color: coral;
    background-color: aqua;
}

input[type=text], select, textarea {
    width: 110px;
    padding: 12px;
    border: 1px solid #ccc;
    /* border-radius: 13px; */
    resize: vertical;
}

input[type=submit] {
    background-color: #4caf50;
    color: aquamarine;
    border: none;
    border-radius: 5px;
    float: right;
    padding: 13px 21px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #454545;
    
}

.row {
    margin-top: 50px;
    float: left;
    margin-left: 230px;
    margin-top: 2px;
}

#month {
    border-radius: 12px;
}

label {
    margin-top: 12px;
}

#month {
    border-radius: 12px;
}
input[type="number"] {
    width: 15%;
    border-radius: 5px;
}

#sex {
    margin-bottom: 10px;
    margin-top: 30px;
}

#gen {
    margin-left: 240px;
    margin-top: 30px;
}

